<footer class="row" style="padding-top: 5px; background-color: #464646; color:#000000">
  <p class="text-center">Copyright @2017 Fullstack.xinshengdaxue.com
    <br>Design by
    <a href="http://fullstack.xinshengdaxue.com/" target=_new>BruceQiao</a>
  </p>
</footer>
